<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/nbr/Documents/GitHub/script</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {349, 1395}}</string>
		<string>{{350, 0}, {2210, 1395}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>068DD632-997A-41A0-807F-867B6908806D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>14C155DF-48CB-479A-BCC6-8AA8A77B7E58</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1E3BCA4B-862A-4E5F-8BE4-9338BBFE478B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>27F70D29-9DC1-49B4-83AC-0A48139B97AB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>360C1425-F6DB-46FF-973E-D68DED40C519</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>38265D2D-BDDB-451B-B2F4-72F2CEF1F3DA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>52B6D62D-8F88-49BE-B557-6197175A2D9A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>560F9661-1B5F-4F6E-A04D-F3FA7C261F23</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>60E797F2-87AB-40FC-973B-E972450E6378</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7C0A3356-79A1-4981-81D8-878AC46C1F43</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8F4D27B4-7BFF-435A-9EDB-BA5BF5196092</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9E4794F4-1CAE-4864-87EB-9EB8844CC501</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A3D37CB2-A555-4D78-98E8-E23164AD30AC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B8D07E63-8493-4235-8254-27A041380328</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DE4AF975-C2AC-4A8E-9299-4E7B57A47E86</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E223A8F7-09D0-4436-BF71-5017907A5853</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F46F8AC6-7EB8-41A4-962B-B52C49CFF1AF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {928, 224}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 804}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 654.5}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>2</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>2560 1534 1440 842 0 0 2560 1415 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
